<tr>
  <td><%= order.created_at.strftime("%d %B %Y") %></td>
  <td><%= link_to order.variant.your_sku, product_path(order.product) %></td>
  <td><%= order.unit %></td>
  <td><%= number_to_currency order.amount %></td>
  <td><%= number_to_currency order.commission_fee %></td>
  <td><%= order.status %></td>
</tr>
