<tr>
  <td><%= link_to company.name, company %></td>
  <td><%= company.email_host %></td>
  <td><%= company.commission_rate %> %</td>
  <td><%= mail_to company.inventory_contact_email %></td>
  <td>
    <% if policy(company).edit? %>
      <%= link_to 'Edit', edit_company_path(company), class: "btn btn-primary" %>
    <% end %>
  </td>
</tr>
