<br />
<br />

<div class="nested-fields">
  <div class="field">
    <%= f.input :name, label: "Variant Name" %>
  </div>
  <div class="field">
    <%= f.input :your_sku %>
  </div>
  <div class="field">
    <%= f.input :inventory, as: :integer %>
  </div>
  <div class="field">
    <%= f.input :minimum_price, as: :integer %>
  </div>

  <%= link_to_remove_association "Delete Variant", f, class: "btn btn-effect-ripple btn-default pull-right" %>
</div>

