 <!-- First Row -->
 <div class="row">
  <!-- Simple Stats Widgets -->
  <div class="col-sm-6 col-lg-3">
    <a href="javascript:void(0)" class="widget">
      <div class="widget-content widget-content-mini text-right clearfix">
        <div class="widget-icon pull-left themed-background">
          <i class="gi gi-cardio text-light-op"></i>
        </div>
        <h2 class="widget-heading h3">
          <strong>+ &yen; <span data-toggle="counter" data-to="<%= @order_total_amount %>"><%= @order_total_amount %></span></strong>
        </h2>
        <span class="text-muted">SALES</span>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-lg-3">
    <a href="javascript:void(0)" class="widget">
      <div class="widget-content widget-content-mini text-right clearfix">
        <div class="widget-icon pull-left themed-background-success">
          <i class="fa fa-cube fa-lg text-light-op"></i>
        </div>
        <h2 class="widget-heading h3 text-success">
          <strong>- &yen; <span data-toggle="counter" data-to="<%= @order_total_commission_charge %>"><%= @order_total_commission_charge %></span></strong>
        </h2>
        <span class="text-muted">COMMISSION</span>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-lg-3">
    <a href="javascript:void(0)" class="widget">
      <div class="widget-content widget-content-mini text-right clearfix">
        <div class="widget-icon pull-left themed-background-warning">
          <i class="gi gi-briefcase text-light-op"></i>
        </div>
        <h2 class="widget-heading h3 text-warning">
          <strong>- &yen; <span data-toggle="counter" data-to="<%= @bill_total_amount %>"><%= @bill_total_amount %></span></strong>
        </h2>
        <span class="text-muted">EXPENSE</span>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-lg-3">
    <a href="javascript:void(0)" class="widget">
      <div class="widget-content widget-content-mini text-right clearfix">
        <div class="widget-icon pull-left themed-background-danger">
          <i class="gi gi-wallet text-light-op"></i>
        </div>
        <h2 class="widget-heading h3 text-danger">
          <strong>= &yen; <span data-toggle="counter" data-to="<%= @earnings %>"><%= @earnings %></span></strong>
        </h2>
        <span class="text-muted">EARNINGS</span>
      </div>
    </a>
  </div>
  <!-- END Simple Stats Widgets -->
</div>
<!-- END First Row -->

<div class="row">
  <div class="col-md-12">
    <!-- Partial Responsive Block -->
    <div class="block">
      <!-- Partial Responsive Title -->
      <div class="block-title">
        <h2>Issue</h2>
      </div>
      <!-- END Partial Responsive Title -->
      <div class="table-responsive">
        <table class="table table-bordered table-vcenter">
          <thead>
          <tr>
              <th>Type</th>
              <th>Details</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="danger">
              <td><strong>Out of stock</strong></td>
              <td>All Variant #4567 have been sold out</td>
              <td><a class="btn btn-primary" href="#">Edit</a> <a class="btn btn-default" href="#">Mute</a></td>
            </tr>
            <tr class="warning">
              <td><strong>Low stock</strong></td>
              <td>Variant #345 only 2 left</td>
              <td><a class="btn btn-primary" href="#">Edit</a> <a class="btn btn-default" href="#">Mute</a></td>
            </tr>
            <tr>
              <td><strong>No Ads Budget</strong></td>
              <td>Product #1234 has no ads budget</td>
              <td><a class="btn btn-primary" href="#">Edit</a> <a class="btn btn-default" href="#">Mute</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- 2nd Row -->
<div class="row">
  <!-- Partial Responsive Content -->
  <div class="col-md-6">
    <!-- Partial Responsive Block -->
    <div class="block">
      <!-- Partial Responsive Title -->
      <div class="block-title">
        <h2>Bills</h2>
      </div>
      <!-- END Partial Responsive Title -->
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-vcenter">
          <thead>
            <tr>
              <% if admin_signed_in? %>
              <th>Company Name</th>
              <% end %>
              <th>Title</th>
              <th>Amount</th>
              <th>Description</th>
              <% if admin_signed_in? %>
              <th>Action</th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <%= render @bills %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- END Partial Responsive Content -->

  <!-- Partial Responsive Content -->
  <div class="col-md-6">
    <!-- Partial Responsive Block -->
    <div class="block">
      <!-- Partial Responsive Title -->
      <div class="block-title">
        <h2>Products</h2>
      </div>
      <!-- END Partial Responsive Title -->
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-vcenter">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Description</th>
              <th>Ads Budget</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <%= render @products %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- END Partial Responsive Content -->

<!-- 3rd Row -->
<div class="row">
  <!-- Partial Responsive Content -->
  <div class="col-md-6">
    <!-- Partial Responsive Block -->
    <div class="block">
      <!-- Partial Responsive Title -->
      <div class="block-title">
        <h2>Sales</h2>
      </div>
      <!-- END Partial Responsive Title -->
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-vcenter">
          <thead>
            <tr>
              <th>Variant Our SKU</th>
              <th>Variant Your SKU</th>
              <th>Unit</th>
              <th>Amount</th>
              <th>Commission Charge</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <%= render @orders %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <!-- Partial Responsive Block -->
    <div class="block">
      <!-- Partial Responsive Title -->
      <div class="block-title">
        <h2>Ads</h2>
      </div>
      <!-- END Partial Responsive Title -->
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-vcenter">
          <tbody>
            <tr>
              <td><strong>Impression</strong></td>
              <td>1398</td>
            </tr>
            <tr>
              <td><strong>Conversion Rate</strong></td>
              <td>12.3%</td>
            </tr>
            <tr>
              <td><strong>Leads (Income)</strong></td>
              <td>&yen; 1400</td>
            </tr>
            <tr>
              <td><strong>Leads (Sales)</strong></td>
              <td>36</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- END Partial Responsive Content -->


</div>
<!-- END Partial Responsive Content -->
