<!-- Main Sidebar -->
<div id="sidebar">
  <!-- Sidebar Brand -->
  <div id="sidebar-brand" class="themed-background">
    <a href="index.html" class="sidebar-title">
      <i class="fa fa-cube"></i> <span class="sidebar-nav-mini-hide">Glamor<strong>Trade</strong></span>
    </a>
  </div>
  <!-- END Sidebar Brand -->

  <!-- Wrapper for scrolling functionality -->
  <div id="sidebar-scroll">
    <!-- Sidebar Content -->
    <div class="sidebar-content">
      <!-- Sidebar Navigation -->
      <ul class="sidebar-nav">
        <li>
          <%= link_to "<i class='gi gi-compass sidebar-nav-icon'></i><span class='sidebar-nav-mini-hide'>Dashboard</span>", dashboard_path %>
        </li>
        <li class="sidebar-separator">
          <i class="fa fa-ellipsis-h"></i>
        </li>
        <li>
          <%= link_to  "<i class='gi gi-gift  sidebar-nav-icon'></i></i><span class='sidebar-nav-mini-hide'>Products</span>", products_path %>
        </li>

        <li>
          <%= link_to  "<i class='gi gi-briefcase sidebar-nav-icon'></i><span class='sidebar-nav-mini-hide'>Bills</span>", bills_path %>
        </li>

        <li>
          <%= link_to  "<i class='fa fa-jpy sidebar-nav-icon'></i><span class='sidebar-nav-mini-hide'>Sales</span>", orders_path %>
        </li>

      </ul>
      <!-- END Sidebar Navigation -->
    </div>
    <!-- END Sidebar Content -->
  </div>
  <!-- END Wrapper for scrolling functionality -->

  <!-- Sidebar Extra Info -->
  <div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">
    <div class="text-center">
      <small><span id="year-copy"></span> &copy; <%= link_to "GlamorTrade", root_path %> </small>
    </div>
  </div>
  <!-- END Sidebar Extra Info -->
</div>
<!-- END Main Sidebar -->
