</html><!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title><%= content_for?(:title) ? yield(:title) + " | GlamorTrade" : "GlamorTrade" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "GlamorTrade" %>">
  <meta name="author" content="GlamorTrade">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Modernizr (browser feature detection library) -->
  <%= javascript_include_tag 'modernizr' %>

  <%= csrf_meta_tags %>

</head>
<body>

  <!-- Page Wrapper -->
  <div id="page-wrapper">
    <!-- Page Container -->
    <div id="page-container" class="header-fixed-top sidebar-visible-lg-full">

    <%= render "layouts/sidebar" %>

      <!-- Main Container -->
      <div id="main-container">
        <%= render "layouts/navigation" %>

      <!-- Page content -->
      <div id="page-content">

      <%= render "layouts/page_header" %>

          <%= render "layouts/messages" %>

          <%= yield %>

        </div>
        <!-- END Page Content -->
      </div>
      <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
  </div>
  <!-- END Page Wrapper -->

</body>
</html>
